{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'website/base.css' %}">
    <title>Arm hostel</title>
</head>
<body>
    <header>
        <!-- <img class="logo" src="" alt=""> -->
        <nav>
            <ul>
                <li><a href="/{{ language }}/">{{ home_nav }}</a></li>
                <li><a href="/{{ language }}/aboutus/">{{ about_us_nav }}</a></li>
                <li><a href="/{{ language }}/book/">{{ book_nav }}</a></li>
                <li><a href="/{{ language }}/services/">{{ services_nav }}</a></li>
                <li><a href="/{{ language }}/contact">{{ contact_nav }}</a></li>
            </ul>
        </nav>
    </header>
    <div class="language-switch">
        <a href="/changelanguage/eng?page={{ request.path }}"><img src="{% static 'website/eng.png' %}" alt="english flag"></a>
        <a href="/changelanguage/rus?page={{ request.path }}"><img src="{% static 'website/rus.png' %}" alt="русский флаг"></a>
        <a href="/changelanguage/arm?page={{ request.path }}"><img src="{% static 'website/arm.png' %}" alt="армянский флаг"></a>
    </div>
    <main>
    {% block content %}
    
    {% endblock content %}
    </main>
    <footer>
        <p>footer</p>
    </footer>
</body>
</html>