{% extends "website/base.html" %}

{% block content %}
<section class="contacts">
    <h1>{{ main_header }}</h1>
    <ul>
        <li>{{ address }}</li>
        <li>{{ phone }}: <a href="tel:+37477161169">+374 77161169</a></li>
        <li>WhatsApp: <a href="https://wa.me/37477161169">+374 77161169</a></li>
        <li>Viber: +374 77161169</li>
        <li>Telegram: <a href="https://t.me/+37477161169">+374 77161169</a></li>
        <li>Gmail: <a href="mailto:armhostelandapartment2017@gmail.com">armhostelandapartment2017@gmail.com</a></li>
        <li>Instagram: <a href="https://www.instagram.com/arm_hostel/">https://www.instagram.com/arm_hostel/</a></li>
        <li>Facebook: <a href="https://www.facebook.com/ArmHostelYerevan">https://www.facebook.com/ArmHostelYerevan</a></li>
    </ul>
</section>
{% endblock content %}