{% extends "website/base.html" %}

{% block content %}
<section class="rooms">
    <p>rooms placeholder</p>
</section>
<section class="tours">
    <p>tours placeholder</p>
</section>
<section class="map">
<iframe 
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3048.1061630634085!2d44.508957775551245!3d40.18445077147796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406abce2bdf6b2db%3A0xa30a3d1f64e53368!2sArm%20Hostel!5e0!3m2!1sru!2sam!4v1693229626026!5m2!1sru!2sam" 
    width="600" 
    height="450" 
    style="border:0;" 
    allowfullscreen="" 
    loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade">
</iframe>
</section>
{% endblock content %}